gtfs-venv/
terraform.tfvars
**/**/.ipynb
infrastructure/**/.terraform/*
infrastructure/**/*.tfstate
infrastructure/**/*.tfstate.*
infrastructure/**/*.tfvars
infrastructure/**/*.tfvars.json
infrastructure/**/override.tf
infrastructure/**/override.tf.json
infrastructure/**/*_override.tf
infrastructure/**/*_override.tf.json
infrastructure/**/crash.log
infrastructure/**/crash.*.log
infrastructure/**/.terraformrc
infrastructure/**/terraform.rc
infrastructure/**/.terraform.lock.hcl

# Ansible files in infrastructure
infrastructure/**/*.retry
infrastructure/**/ansible/*.retry
infrastructure/**/ansible/roles/**/*.retry
infrastructure/**/*.pyc
infrastructure/**/__pycache__/
infrastructure/**/.ansible/
infrastructure/**/vault_pass.txt
infrastructure/**/group_vars/vault.yml
infrastructure/**/host_vars/vault.yml
infrastructure/secrets.json
# Keeping important Ansible files
!infrastructure/**/ansible.cfg
!infrastructure/**/inventory.ini